.category img {
  width: 15vw;
  height: 15vw
}
.category h1 {
  position: relative;
  background-color: rgba(0, 0, 0, 0.411);
  top: -17vw;
  color: white;
  /* padding: 6rem 1rem; */
  padding-top: 5vw ;
  text-align: center;
  width: 15vw;
  height: 10.5vw;
  cursor: pointer;
}
.category h1:hover {
  background-color: rgba(0, 0, 0, 0.84);
}
