footer {
  display: flex;
  justify-content: space-between;
  padding: 3rem 8rem;
  background: #3b1c01;
}

footer > section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer > section:nth-child(1) {
  flex-direction: column;
  color: var(--light-text-color, #fff);
  font-family: Montserrat;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 133.333% */
  letter-spacing: 0.00625rem;
}
footer > section > ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  width: 100%;
  list-style: none;
  margin-top: -1rem;
}
footer > section > ul img {
  width: 1.5rem;
  height: 1.5rem;
}
.subscribeEmail {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 75%;
  box-sizing: border-box;
  outline: none;

  color: #b0b0b0;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem; /* 114.286% */
  letter-spacing: 0.00625rem;
}
footer > section:nth-child(2) > form {
  width: 25rem;
  display: flex;
  justify-content: space-between;
}
.subscribeButton {
  padding: 0.5rem;
  border: 1px solid #ccc;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  color: var(--Light-text, #fff);
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: 0.0125rem;
}

.subscribeButton:hover {
  background-color: #0056b3;
}
footer section ul li a img {
  transition: transform 0.3s ease-in-out;
}

footer section ul li a:hover img {
  transform: scale(1.2);
}
@media only screen and (max-width: 950px) {
  footer {
    padding: 3rem;
  }
  .subscribeEmail {
    padding: 0.7rem;
    width: 55%;
  }
  footer > section:nth-child(2) > form {
    width: 20rem;
    gap: 1rem;
    justify-content: center;
  }
  footer > section:nth-child(1) {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 550px) {
  footer {
    flex-direction: column;
  }
  section {
    justify-content: center;
    align-items: center;
  }
  section > ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer > section:nth-child(2) > form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
