.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  position: fixed;
  background: #000;
  width: 96vw;
  z-index: 999;
  /* margin-top: -1rem; */
}

.navbar > section,
.navbar > section > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.navbar > section > a {
  color: var(--Light-text, #fff);
}
.navbar > section > a,
.navbar > section > div > button {
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0.0125rem;
  text-decoration: none;
  padding: 0.4rem 1rem;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 25px;
}
.navbar > section > a:hover {
  background-color: rgba(128, 128, 128, 0.242);
  color: rgba(255, 255, 255, 0.495);

  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  transform: scale(1.1);
}
.navbar > .appLogo {
  height: 5rem;
}
.navbar > section > div button {
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.75rem; /* 175% */
  letter-spacing: 0.0125rem;
  border-radius: 0.625rem;
  padding: 0.4rem 1rem;
  width: 6rem;
  margin: 0 0.5rem;
  cursor: pointer;
}
.signUp {
  background-color: white;
  color: var(--Primary, #2091f9);
  border: 2px solid var(--Primary, #2091f9);
  transition: background-color 0.3s, color 0.5s, border-color 0.5s;
}

.signUp:hover {
  background-color: var(--Primary, #2091f9);
  color: white;
  border-color: white;
}

.logIn {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  transition: background-color 0.3s, color 0.5s, border-color 0.5s;
}

.logIn:hover {
  background-color: white;
  color: black;
  border-color: black;
}

.menuButton {
  display: none;
}

.menuButton {
  background-color: transparent;
  border: none;
}

@media screen and (max-width: 960px) {
  .menuButton {
    display: block;
  }

  .navLinks {
    display: none !important ;
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 55%;
    width: 45%;
    background: #3b1c01;
    padding: 1rem 3rem 1rem 0;
  }
  .navbar > section > a {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: right;
  }
  .navLinks.close {
    display: none;
  }
  .navLinks.open {
    display: flex !important;
  }
  .navLinks {
    display: flex;
    flex-direction: column;
  }

  .navLinks > div {
    order: -1; /* Places the last div on top */
  }
  .sign {
    flex-direction: column;
  }
}
